include ../lib/lib
doctype mobile
html
    head
        title Gestione oggetti e supermercacti 
        meta(charset='UTF-8')
        +jquery
        +fontawesome
        +jqueryConfirm
        +tabulator
        +libCSS
        script(src='/js/gestioneOggetti.js' type="module")
    body
        .main-container
            header
                +navbar('Gest. oggetti e supermercati','none')
            .formBeauty
                form#newOggetto
                    div
                        h4 Supermercato: 
                        input.n3(type="select" list="allSupermercati" name="supermercato")
                    div
                        label.n1 Nome: 
                        input.n2(type="text", name="nome")
                    div
                        label.n1 Note: 
                        input.n2(type="text", name="note")
                    div
                        label.n1 Prezzo: 
                        input.n2(type="number", name="prezzo")
                    input.btn(type="submit", value="Aggiungi oggetto")
            #table