include ../lib/lib
doctype mobile
html
    head
        title Gestione Utenze
        meta(charset='UTF-8')
        +jquery
        +bootstrap
        +fontawesome
        +jqueryConfirm
        +cssLib
        link(rel='stylesheet',type='text/css',href='/css/gruppi.css')
        script(src='/js/gestioneUtenti.js' type='module')
    body
        +navbar('Gestione utenze','none')
        div.cards
            each g in groups
                div.groupCard.container(id='' + g.ID)
                    div.groupCard.titleButton
                        h4.title.alignleft=g.Nome
                        div.button.alignright(id='button_'+g.ID)
                            +caricamento
                    div.utenti(style='display: none;', id='utenti_'+g.ID)
                    button.utente.addUser(id=''+g.ID)
                        i.fa.fa-plus.rimuovi
        