include misc
doctype mobile
html
    head
        title Gestione oggetti e supermercacti 
        meta(charset='UTF-8')
        +jquery
        +bootstrap
        +fontawesome
        +jqueryConfirm
        +tabulator
        link(rel='stylesheet',type='text/css',href='/css/misc.css')
        script(src='/js/gestioneOggetti.js' type="module")
    body
        .main-container
            header
                +navbar('none')
            form#newOggetto.flex-vertical
                div
                    label Supermercato: 
                    select(name="supermercato")
                div
                    label Nome: 
                    input(type="text", name="nome")
                div
                    label Note: 
                    input(type="text", name="note")
                div
                    label Prezzo: 
                    input(type="number", name="prezzo")
                input(type="submit", value="Aggiungi oggetto")

            #table