include misc
doctype mobile
html
    head
        title Casa pagina
        meta(charset='UTF-8')
        +jquery
        +bootstrap
        +fontawesome
        link(rel='stylesheet',type='text/css',href='/css/misc.css')
        script(src='/js/misc.js')
    body
        +navbar('none')
        .flex-vertical
            .flex.dropdown-control(data-target='#liste')
                i.fas.fa-caret-down
                h2 Liste attive
            #liste.flex-vertical
                each lista in listeUtente
                    a(href='/spesa/' + lista.ID)=lista.Nome
            .flex.dropdown-control(data-target='#operazioni')
                i.fas.fa-caret-down
                h2 Operazioni
            #operazioni
                a(href="/newLista") Crea una nuova lista