@import "../lib/css/settings.css";
/*
    @autor: davideberga0
    @content: Tutto il css che riguarda la pagina di una nuova lista
*/ 

.float{
    width: 60px;
    height: 60px;
    background-color: var(--primary-color);
    text-decoration: none;
    text-align: center;
    box-shadow: 2px 2px 3px #9999;
    border-radius: 50%;
    position: fixed;
    right: 20px;
    bottom: 20px;
  }

  .my-float{
    margin-top:22px;
    color: #f5aa3b;
  }

  input.invalid{
    color: #c12e2a;
  }

  .blocked{
    pointer-events: none; 
    opacity: 0.7;
  }

  .actived{
    pointer-events: all; 
    opacity: 1;
  }

  div.content-collapsible-utenti{
    display: none;
  }
  
  div.content-collapsible-ricette{
    display: none;
  }
  
  .red-triangle{
    text-decoration-color: #c12e2a;
    color: #c12e2a;
  }

  #noUtenze{
    display: none;
  }
  
  /* Css scontrino */

  .alignleft {
    text-align: left;
    align-self: flex-start;
    width: 50%;
    display: inline-block;
    -webkit-font-smoothing : none;
  }

  .alignright {
    text-align: right;
    align-self: flex-end;
    text-decoration: black;
    width: 50%;
    display: inline-block;
    -webkit-font-smoothing : none;
  }

  .scontrinoSmall{
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
  }

  .scontrinoMedium{
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
  }

  .scontrinoLarge{
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
  }

  .scontrinoXXLarge{
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
  }

  .scontrinoXLarge{
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
  }

  row.scontrino{
    display: inline;
  }

  div.scontrino{
    display: flex;
    flex-direction: column;
    
  }